@{
	ViewData["Title"] = "Login";
}
<a>HEllo</a>
<div class="text-center">
	@if (User.Identity.IsAuthenticated)
	{
		<hi>Hello @(User.Identity.Name)!</hi>
	}
	else
	{
		<form asp-controller="Auth" asp-action="Logout" method="post">
			<input type="submit" />
		</form>
	}
	</div>
