@{
	ViewData["Title"] = "Home Page";
    @model FinanceTracker.Models.HomeViewModel
}
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
	{
    <h2>Hello @User.Identity.Name</h2>
	}
	else
	{
    <h2>You are not logged in</h2>
	}
    @if (Model.Transactions?.Any() ?? false)
{
    <ul>
        @foreach (var tx in Model.Transactions)
    {
        <li>
            @tx.date.ToShortDateString() – @tx.amount – @tx.description
        </li>
    }
    </ul>
}
else
{
    <p>You have no transactions yet.</p>
}

</div>
