@model FinanceTracker.Models.Transactions
@{
	ViewData["Title"] = "Add Cash";
}
<div class="text-center">
	@if (!ViewData.ModelState.IsValid)
	{
		<div class="text-red-500 font-semibold mb-4">
			@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
			{
				<div>@error.ErrorMessage</div>
			}
		</div>
	}
	<form asp-controller="Transactions" asp-action="SaveTransaction" method="post">
		<div class="flex flex-col items-center w-50%">
			@Html.TextBoxFor(m => m.description, new { @class = "border-2 border-pink-900 p-2 min-w-[10%]", placeholder = "Description" })
			@Html.DropDownListFor(m => m.category,new SelectList(Enum.GetValues(typeof(Category))),"-- Select Category --", new { @class = "border-2 border-pink-900 p-2 min-w-[10%]", })
			@Html.TextBoxFor(m => m.amount, new { @class = "border-2 border-pink-900 p-2 min-w-[10%]", placeholder = "Secret Password" })
			<input class="border-2 border-pink-900 p-2 min-w-[10%]" type="submit" />
		</div>
	</form>
</div>
